body {
	background-color: #b2e4d1;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 50px;
}

footer,
#main-column {
	border-radius: 0 10px;
	margin: 0 auto;
	max-width: 600px;
}

#main-column {
	background-color: #ffffff85;
	padding: 20px;
}
footer {
	background-color: #ffffff85;
	margin: 50px auto;
	padding: 5px 20px;
}
form {
	background-color: #b2e4d185;
	border-radius: 0 10px;
	margin: 20px 10px;
	padding: 10px 20px;
}
a {
	color: #3f7ab4;
	font-weight: 500;
	text-decoration: none;
}
a:hover {
	text-decoration: underline 2px;
	text-underline-offset: 2px;
}
a:focus {
	outline: #050505 solid 2px;
}

h1 {
	font-weight: 700;
	font-size: 3em;
	margin: 0;
	text-align: center;
}

h2,
label {
	font-size: 1.5em;
	font-weight: 600;
}
h3 {
	font-size: 1.25em;
	font-weight: 600;
}
label {
	display: block;
	margin: 10px 0;
}
select {
	display: block;
	font-size: 1.15em;
	margin: 10px 0;
	border-radius: 0 10px;
	padding: 10px 10px;
}
.city {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff90;
	border-radius: 0 10px;
	margin: 10px 0;
}

.time {
	font-size: 2.75em;
	font-weight: 600;
	background-color: #b2e4d1;
	padding: 5px 10px;
	border-radius: 0 10px 0 0;
	align-self: stretch;
	width: 30%;
	text-align: right;
}
.cityanddate {
	padding: 5px 10px;
	border-radius: 0 10px;
	align-self: stretch;
}
.city h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0;
}
.date {
	font-size: 1.25em;
}
